.item{
    display: flex;
    flex-direction: column;
    width:max-content;
    text-align: center;

}

.item img{
    width: 10em;
    border-radius: 1em;
}

.item .icon, .review .icon{
    width: 2em;
    border-radius: 0;
}

.rate img{
    width: 1em;
}

.category-title{
    padding: 1em 0 0 1em;
    font-size: larger;
    font-weight: bolder;
}

.category{
    overflow: auto;
    display: flex;
    overflow-x: auto;
    border: 1px solid black;
    border-radius: 0.4em;
    min-height: max-content;
    margin: 1em;
}

.category>*{
    display: inline-block;
    padding: 1em;
    transition: all 350ms;
}

.category>*:hover{
    background-color: var(--navcolor);
    border-radius: 0.4em;
    color: white;
}

.category::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.category::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.name{
    font-weight: bold;
}

.review{
    min-width:15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 15em;
    height: 15em;
}

.revtext{
    overflow: hidden;
    text-overflow: ellipsis;
}



.agregar{
    text-align: center;
    padding: 1em;
}


