@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');



*{
    font-family: "Montserrat", sans-serif;
}

.title{
    padding: 16px 0 0 25px ;
    font-weight: bold;
    font-size: 1.5em;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    margin: 0 16px 16px 16px ;
    padding: 50px ;
    border: 5px solid rgb(114, 21, 201);
    border-radius: 20px;
    
    background-color: rgb(40, 35, 58);
    font-size:1.5em;
    color: white;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.input-group label{
    min-width: fit-content;
}

.input-group input{
    width: 85%;
    border-radius: 10px;
    font-size: 1em;
}

.input-group input[type="password"]{
    width: 50%;
}

.input-group input:focus{
    outline-color: rgb(114, 21, 201);
}

.btn{
    font-size: 1em;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin: 50px 0 0 0;
    min-width: max-content;
}

.policy{
    font-size: 0.5em;
    flex-direction: row-reverse;
}

.policy input{
    width: 10px;
}

.policy label a{
    color: orange;
}


@media (max-width: 958px){
    .input-group input[type="password"]{
        width: 70%;
    }
    .input-group input{
        width: 100%;
        border-radius: 10px;
        font-size: 1em;
    }

    .form{
        padding: 20px ;
        gap: 1em;
        height: 100vh;
    }
}