.info{
    position:static;
    bottom: 0;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
}

.info>*{
    padding: 10px;
}

body{
    position:static;
    height: 100vh;
}

