.product{
    text-align: center;
}

.product p, .revtitle{
    font-size: x-large;
    font-weight: bold;
}

.product img{
    width: 15em;
}

.product-info{
    display: flex;
    margin: 1.5em;
    gap: 1em;
    align-items: center;
}

.product-info>*{
    width: 50%;
}

.especificaciones{
    font-size: large;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.price{
    font-weight: bold;
    text-align: center;
}

.newrev{
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 0.5em;
}

.newrev textarea{
    resize: none;
}

.newrev p{
    font-weight: bold;
    font-size: larger;
}

.newrev .btn{
    font-size: 1em;
    border-radius: 1em;
    padding: 1em;
    min-width: max-content;
    background-color: rgb(40, 35, 58);
    color: white;
    font-weight: bold;
}



.graphics img{
width: 100%;
}

@media (max-width: 958px){
    .product-info{
        flex-direction: column;
    }
    .product-info>*{
        width: 100%;
    }
}
